body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#0c71a0ba;  
    font-family: 'Arial';  
}  

.createroom{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  


h1{  
    text-align: center;
    color: #ffffff;  
    padding: 20px;  
} 
 
h3{  
    text-align: center;
    color: #ffffff;  
    padding: 20px;  
}  
label{  
    color: #ffffff;  
    font-size: 17px;  
}  
#room{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

#members{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}       
 
#submit{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
 
}
#back{  
    width: 120px;  
    height: 20px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);      
}  