<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='viewroomstyletext.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Textaphone</title>
  </head>
  <body>

    <script>
      var messagesarray = [];
      var messagessender = [];
    </script>
    <button type="button" id="load_older_messages_btn">
      Load Older Messages
    </button>
    <div class="messages" id="messages">
      {% for message in messages %}
      <script>
        messagesarray.push("{{ message.text }}");
        messagessender.push("{{ message.sender }}");
      </script>
      <div>
        <b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b> {{
        message.text }};
      </div>
      {% endfor %}
    </div>
    <div></div>

    <div class="container2">
      <div>
        <form id="message_input_form">
          <input
            type="text"
            id="message_input"
            placeholder="Enter your message here"
          />
          <button id="send" type="submit">Send</button>
          <button id="rec" type="button" onclick="speechrec()">Record</button>
          <button id="back" type="button" onclick="exitchatroom()">Back</button>
        </form>
        <button onclick="edit_room()">Edit Room Members</button>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script>
    const socket = io.connect("http://localhost:80");

    function exitchatroom(){
    window.history.back();
}

    socket.on("connect", function () {
      socket.emit("join_room", {
        username: "{{ username }}",
        room: "{{ room._id }}",
      });

      let message_input = document.getElementById("message_input");

      document.getElementById("message_input_form").onsubmit = function (e) {
        e.preventDefault();
        let message = message_input.value.trim();
        if (message.length) {
          socket.emit("send_message", {
            username: "{{ username }}",
            room: "{{ room._id }}",
            message: message,
          });
        }

        message_input.value = "";
        message_input.focus();
      };
    });

    function edit_room() {
      window.location.href = "/rooms/{{ room._id }}/edit";
    }

    function speechrec() {
      // get output div reference
      var output = document.getElementById("output");
      // get action element reference
      var action = document.getElementById("action");
      // new speech recognition object
      var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
      var recognition = new SpeechRecognition();

      // This runs when the speech recognition service starts
      recognition.onstart = function () {
        console.log("listening, please speak...");
      };

      recognition.onspeechend = function () {
        console.log("stopped listening");
        recognition.stop();
      };

      // This runs when the speech recognition service returns result
      recognition.onresult = function (event) {
        var transcript = event.results[0][0].transcript;
        var confidence = event.results[0][0].confidence;
        message_input.value = transcript;
        let message = message_input.value.trim();
        if (message.length) {
          socket.emit("send_message", {
            username: "{{ username }}",
            room: "{{ room._id }}",
            message: message,
          });
          messagesarray.push("{{ send_message }}");
          messagessender.push("{{ username }}");
        }
        message_input.value = "";
        message_input.focus();
      };
      // start recognition
      recognition.start();
    }
    let page = 0;

    document.getElementById("load_older_messages_btn").onclick = (e) => {
      page += 1;
      fetch("/rooms/{{ room._id }}/messages?page=" + page, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      }).then((response) => {
        response.json().then((messages) => {
          messages
            .reverse()
            .forEach((message) =>
              prepend_message(message.text, message.sender, message.created_at)
            );
        });
      });
    };

    function prepend_message(message, username, created_at) {
      const newNode = document.createElement("div");
      newNode.innerHTML = `<b>${username}&nbsp;[${created_at}]:&nbsp;</b> ${message} ;`;
      const messages_div = document.getElementById("messages");
      messages_div.insertBefore(newNode, messages_div.firstChild);
      messagesarray.push({ message });
      messagessender.push({ username });
    }

    window.onbeforeunload = function () {
      socket.emit("leave_room", {
        username: "{{ username }}",
        room: "{{ room._id }}",
      });
    };

    socket.on("receive_message", function (data) {
      const newNode = document.createElement("div");
      newNode.innerHTML = `<b>${data.username}&nbsp;[${data.created_at}]:&nbsp;</b> ${data.message} ; `;
      document.getElementById("messages").appendChild(newNode);
      if (data.username !== "{{ username }}") {
        messagesarray.push(data.username);
        messagessender.push(data.username);
      }
    });

    socket.on("join_room_announcement", function (data) {
      console.log(data);
      if (data.username !== "{{ username }}") {
        const newNode = document.createElement("div");
        newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
        document.getElementById("messages").appendChild(newNode);
      }
    });

    socket.on("leave_room_announcement", function (data) {
      console.log(data);
      const newNode = document.createElement("div");
      newNode.innerHTML = `<b>${data.username}</b> has left the room`;
      document.getElementById("messages").appendChild(newNode);
    });
  </script>
</html>
